div.grid {
  padding: 6px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-between;
  justify-content: flex-start;
  gap: 6px;
}

div.grid > a {
  cursor: pointer;
}

div.grid > a > img {
  width: auto;
  height: 150px;
  border-radius: 8px;
  filter: grayscale(0.5);
  transition: 200ms;
}

div.grid > a:hover > img {
  filter: grayscale(0);
}
