#root > h1 {
  margin: 0;
  padding: 60px 0;

  font-size: 48px;
  font-family: "Sansita Swashed";
}

#root > h1 > span.dot {
  animation: dot 5s 1;
}

@keyframes dot {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

#root > div.card-wrapper {
  width: 100%;
  flex-grow: 1;

  padding-bottom: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}
