#root > div.main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
}

#root > div.main > div.content-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 10%;
}

@media screen and (max-width: 480px) {
  #root > div.main > div.content-wrapper {
    padding: 0;
  }
}
