html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --color-shade-1: #ff6bc6;
  --color-shade-2: #ff9eda;
  --color-shade-3: #ffd1ed; /* main */
  --color-shade-4: #ffebf7;

  --color-hue-1: #e2d1ff;
  --color-hue-2: #fad1ff;
  --color-hue-3: #ffd1ed; /* main */
  --color-hue-4: #ffd1d5;
  --color-hue-5: #ffe5d1;
  --color-hue-6: #fff4d1;

  --text: hsl(320, 30%, 12%);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  margin: 0;

  color: var(--text);
  background: rgb(226, 209, 255);
  background: linear-gradient(
    45deg,
    var(--color-hue-1) 0%,
    var(--color-hue-2) 20%,
    var(--color-hue-3) 40%,
    var(--color-hue-4) 60%,
    var(--color-hue-5) 80%,
    var(--color-hue-6) 100%
  );

  font-size: 16px;
  font-family: "Fredoka One", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
}

#root {
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: inherit;
}

a.link {
  text-decoration: underline;
}
